<!-- <section class="grid grid-cols-2 gap-3 md:grid-cols-4 md:grid-rows-4">
    <section class="px-[1rem] relative text-primary overflow-auto col-span-2 md:row-span-3 aspect-square bg-red-300">
        <img src="images/home/img-1.jpg" alt="" class="w-full object-cover rounded-2xl">
        <h3 class="absolute top-5 left-8 text-2xl leading-7.5 font-semibold max-w-[15rem]">Discover Style and Comfort in <span class="font_2">Every Frame</span></h3>
        <p class="absolute max-w-4/5 left-8 text-sm bottom-3 leading-5">Find the perfect balance of style and comfort with our carefully crafted glasses, designed to enhance your look while providing all-day wearability.</p>
    </section>
    <section class="px-[1rem] relative text-primary overflow-auto col-span-2 md:row-span-4 bg-green-200">
        <div class="relative">
            <img src="images/home/img-2.jpg" alt="" class="w-full object-cover rounded-2xl">
            <div class="absolute inset-0 bg-black/25 rounded-2xl"></div>
            <div class="absolute bottom-[10%] left-1/2 -translate-x-1/2 flex flex-col gap-2">
                <button class="button bg-white pl-5 pr-2 font-semibold py-2 rounded-full flex border-white items-center gap-5">Shop Now <img src="images/home/Bag Icon.svg" class="bg-primary rounded-full p-[5px]" alt=""></button>
                <button class="button bg-white/20 pl-5 pr-2 font-semibold border border-white text-white py-2 rounded-full flex items-center gap-5">Learn More <img src="images/home/Arrow Icon.svg" class="bg-white rounded-full p-[5px]" alt=""></button>
            </div>
        </div>
    </section>
    <section class="flex px-[1rem] gap-3 w-full bg-red-200 col-span-2 row-span-1">
        <div class="relative w-1/2">
            <div class="absolute inset-0 bg-black/40 rounded-2xl"></div>
            <img src="images/home/img-3.jpg" alt="" class=" w-full object-cover rounded-2xl">
            <h3 class="absolute top-3 left-4 text-white text-xl leading-7.5 font-semibold">Blue Light</h3>
        </div>
        <div class="relative">
            <div class="absolute inset-0 bg-black/40 rounded-2xl"></div>
            <img src="images/home/img-4.jpg" alt="" class=" w-full object-cover rounded-2xl">
            <h3 class="absolute top-3 left-4 text-white text-xl leading-7.5 font-semibold">Sports</h3>
        </div>
    </section>
</section> -->




<section class="grid md:grid-cols-2 gap-3 md:px-[2rem] max-w-[2000px] mx-auto">
    <div class="gap-3 flex flex-col max-h-[40rem]">
        <section class="px-[1rem] relative text-primary overflow-auto">
            <img src="images/home/img-1.jpg" alt="" class="aspect-4/3 w-full object-cover min-h-[20rem] lg:max-h-[10rem]  min-w-[16rem] rounded-2xl">
            <h3 class="absolute top-5 left-8 text-2xl leading-7.5 font-semibold max-w-[15rem]">Discover Style and Comfort in <span class="font_2">Every Frame</span></h3>
            <p class="absolute max-w-4/5 left-8 text-sm bottom-3 leading-5">Find the perfect balance of style and comfort with our carefully crafted glasses, designed to enhance your look while providing all-day wearability.</p>
        </section>
        <section class="flex px-[1rem] gap-3">
            <div class="relative flex-1">
                <div class="absolute inset-0 bg-black/40 rounded-2xl"></div>
                <img src="images/home/img-3.jpg" alt="" class="aspect-4/3 w-full object-cover rounded-2xl">
                <h3 class="absolute top-3 left-4 text-white text-xl leading-7.5 font-semibold">Blue Light</h3>
            </div>
            <div class="relative flex-1">
                <div class="absolute inset-0 bg-black/40 rounded-2xl"></div>
                <img src="images/home/img-4.jpg" alt="" class="aspect-4/3 w-full object-cover rounded-2xl">
                <h3 class="absolute top-3 left-4 text-white text-xl leading-7.5 font-semibold">Sports</h3>
            </div>
        </section>
    </div>
    <section class="px-[1rem] relative text-primary overflow-auto h-full">
        <div class="relative">
            <img src="images/home/img-2.jpg" alt="" class="aspect-6/5 w-full object-cover min-h-[20rem] min-w-[16rem] rounded-2xl">
            <div class="absolute inset-0 bg-black/25 rounded-2xl"></div>
            <div class="absolute bottom-[10%] left-1/2 -translate-x-1/2 flex flex-col gap-2">
                <button class="button bg-white pl-5 pr-2 font-semibold py-2 rounded-full flex border-white border items-center gap-5">Shop Now <img src="images/home/Bag Icon.svg" class="bg-primary rounded-full p-[5px]" alt=""></button>
                <button class="button bg-white/20 pl-5 pr-2 font-semibold border border-white text-white py-2 rounded-full flex items-center gap-5">Learn More <img src="images/home/Arrow Icon.svg" class="bg-white rounded-full p-[5px]" alt=""></button>
            </div>
        </div>
    </section>
</section>
