<section class="px-[1rem] lg:px-[3rem] max-w-[2000px] mx-auto flex gap-5 flex-col md:flex-row md:max-h-[600px] lg:max-h-[670px]">
    <div class="flex flex-col w-full md:w-1/2">
        <div class="w-full h-74 md:h-[65%] relative">
            <img src="images/home/img-1.jpg" alt="" class="absolute rounded-2xl w-full h-full object-cover">
            <div class="absolute inset-0 bg-white/20 rounded-2xl"></div>
            <div class="relative py-4 px-6 sm:p-10 flex flex-col h-full justify-between text-primary">
                <h3 class="text-2xl lg:text-4xl leading-7.5 lg:leading-10 max-w-[15rem] lg:max-w-[22rem]">Discover Style and Comfort in <br class="hidden md:block">
                <span class="font_2 md:ml-20">Every Frame</span></h3>
                <p class="max-w-4/5 text-sm lg:text-lg leading-4.5 lg:leading-6.5">Find the perfect balance of style and comfort with our carefully crafted glasses, designed to enhance your look while providing all-day wearability.</p>
            </div>
        </div>
        <div class="flex w-full h-[35%] gap-5 pt-5">
            <div class="relative w-1/2 h-30 md:h-full group overflow-hidden rounded-2xl">
                <img src="images/home/img-3.jpg" alt="" class="absolute rounded-2xl h-full w-full object-cover object-center">
                <div class="absolute inset-0 rounded-2xl bg-black/30"></div>
                <h4 class="relative mt-5 ml-5 lg:mt-10 lg:ml-10 text-white text-xl lg:text-2xl font-semibold lg:hidden">Blue Light</h4>
                <div class="transition-all absolute inset-0 bg-gray-900/50 duration-600 rounded-2xl translate-y-[101%] lg:group-hover:translate-y-0 hidden lg:flex">
                    <h4 class="relative m-auto text-white text-xl lg:text-2xl font-semibold">Blue Light</h4>
                </div>
            </div>
            <div class="relative w-1/2 h-30 md:h-full group overflow-hidden rounded-2xl">
                <img src="images/home/img-4.jpg" alt="" class="rounded-2xl absolute h-full w-full object-cover object-[center_65%]">
                <div class="absolute inset-0 rounded-2xl bg-black/30"></div>
                <h4 class="relative mt-5 ml-5 lg:mt-10 lg:ml-10 text-white text-xl lg:text-2xl font-semibold lg:hidden">Sports</h4>
                <div class="transition-all absolute inset-0 bg-gray-900/50 duration-600 rounded-2xl translate-y-[101%] lg:group-hover:translate-y-0 hidden lg:flex">
                    <h4 class="relative m-auto text-white text-xl lg:text-2xl font-semibold">Sports</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full md:w-1/2 relative">
        <img src="images/home/img-2.jpg" alt="" class="rounded-2xl w-full h-80 md:h-full object-cover object-[center_30%]">
        <div class="absolute inset-0 bg-black/30 rounded-2xl"></div>
        <div class="absolute inset-0 bottom-[10%] flex flex-col justify-end items-center gap-3 xl:gap-5 lg:flex-row lg:justify-center lg:items-end">
            <button class="button bg-white text-primary pl-4 mt-4 font-semibold py-0 rounded-full flex items-center gap-14 w-max">Shop Now <img src="images/home/shop-icon.svg" class="rounded-full p-[5px]" alt=""></button>
            <button class="button bg-white/20 pl-5 pr-2 font-semibold border border-white text-white py-2 rounded-full flex w-max items-center gap-14">Learn More <img src="images/home/Arrow Icon.svg" class="bg-white rounded-full p-[5px]" alt=""></button>
        </div>
    </div>
</section>