<section class="px-[1rem] lg:px-[3rem] text-primary mt-[2rem] max-w-[2000px] flex flex-col sm:flex-row gap-5 mx-auto">
    <div class="flex flex-col">
        <div class="text-primary text-center">
            <h3 class="text-4xl lg:text-5xl leading-7.5 font-bold mb-4 mr-8 lg:mr-20">Luxury Eyewear <br>
            <span class="font_2 text-3xl lg:text-4xl ml-42 lg:ml-62 font-normal lg:leading-15">Collections</span></h3>
            <p class="sm:max-w-md max-w-sm m-auto text-sm lg:text-[16px] mb-4 px-4 lg:pl-0">
                Featuring exquisite designs and premium materials for a sophisticated look.
            </p>
        </div>
        <div class="flex-1 mt-5 relative">
            <img src="images/home/kids.jpg" alt="" class="rounded-2xl min-h-[20rem] object-cover h-full">
            <div class="absolute inset-0 bg-gradient-to-t from-primary/65 to-transparent via-transparent rounded-2xl"></div>
            <div class="absolute bg-black/40 inset-0 rounded-2xl flex flex-col justify-end p-10 text-white gap-3">
                <h3 class="text-2xl lg:text-3xl font-semibold uppercase">Kids</h3>
                <p class="text-sm lg:text-[16px] max-w-md">Discover our stylish and durable kids' glasses, designed for comfort and everyday wear.</p>
                <button class="button bg-white text-primary pl-4 mt-4 w-max font-semibold py-0 rounded-full flex items-center gap-6">Shop Now <img src="images/home/shop-icon.svg" class="rounded-full p-[5px]" alt=""></button>
            </div>
        </div>
    </div>
    <div>
        <div class="flex flex-col gap-5">
            <div class="relative">
                <img src="images/home/men.jpg" alt="" class="rounded-2xl aspect-11/7 min-h-[20rem] object-[center_28%] object-cover">
                <div class="absolute inset-0 bg-gradient-to-t from-primary/65 to-transparent via-transparent rounded-2xl"></div>
                <div class="absolute bg-black/40 inset-0 rounded-2xl flex flex-col justify-end p-10 text-white gap-3">
                    <h3 class="text-2xl lg:text-3xl font-semibold uppercase">MEN</h3>
                    <p class="text-sm lg:text-[16px] max-w-md">Discover our stylish and durable kids' glasses, designed for comfort and everyday wear.</p>
                    <button class="button bg-white text-primary pl-4 mt-4 w-max font-semibold py-0 rounded-full flex items-center gap-6">Shop Now <img src="images/home/shop-icon.svg" class="rounded-full p-[5px]" alt=""></button>
                </div>
            </div>
            <div class="relative">
                <img src="images/home/women.jpg" alt="" class="rounded-2xl aspect-11/7 min-h-[20rem] object-[center_92%] object-cover">
                <div class="absolute inset-0 bg-gradient-to-t from-primary/65 to-transparent via-transparent rounded-2xl"></div>
                <div class="absolute bg-black/40 inset-0 rounded-2xl flex flex-col justify-end p-10 text-white gap-3">
                    <h3 class="text-2xl lg:text-3xl font-semibold uppercase">WOMEN</h3>
                    <p class="text-sm lg:text-[16px] max-w-md">Discover our stylish and durable kids' glasses, designed for comfort and everyday wear.</p>
                    <button class="button bg-white text-primary pl-4 mt-4 w-max font-semibold py-0 rounded-full flex items-center gap-6">Shop Now <img src="images/home/shop-icon.svg" class="rounded-full p-[5px]" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</section>