<section class="px-[1rem] lg:px-[3rem] text-primary mt-[2rem] max-w-[2000px] mx-auto flex gap-10">
    <div class="w-150 flex flex-col justify-between min-h-60 sm:min-h-90 lg:min-h-130  overflow-hidden">
        <h3 class="text-lg sm:text-3xl mx-auto lg:text-[40px] font-semibold uppercase">For Him <br><span class="font_2 ml-3 sm:ml-5 lg:ml-12 font-normal">Collection</span></h3>
        <img src="images/services/cat-men.png" alt="" class="object-cover">
    </div>
    <div class="flex items-center gap-3 overflow-x-scroll">
        <img src="images/home/glass-1.jpg" alt="" class="object-cover h-40 w-34 sm:h-75 sm:w-60 lg:h-100 lg:w-80 rounded-md">
        <img src="images/home/glass-1.jpg" alt="" class="object-cover h-40 w-34 sm:h-75 sm:w-60 lg:h-100 lg:w-80 rounded-md">
        <img src="images/home/glass-1.jpg" alt="" class="object-cover h-40 w-34 sm:h-75 sm:w-60 lg:h-100 lg:w-80 rounded-md">
        <img src="images/home/glass-1.jpg" alt="" class="object-cover h-40 w-34 sm:h-75 sm:w-60 lg:h-100 lg:w-80 rounded-md">
        <img src="images/home/glass-1.jpg" alt="" class="object-cover h-40 w-34 sm:h-75 sm:w-60 lg:h-100 lg:w-80 rounded-md">
        <img src="images/home/glass-1.jpg" alt="" class="object-cover h-40 w-34 sm:h-75 sm:w-60 lg:h-100 lg:w-80 rounded-md">
    </div>
</section>
<app-scroller></app-scroller>