<section class="max-w-[2000px] mx-auto px-[1rem] lg:px-[3rem] min-h-[580px] lg:min-h-[620px] overflow-hidden flex pb-10">
    <div class="w-full min-h-full relative bg-bg_primary rounded-2xl flex items-end sm:items-start">
        <img [src]="category?.image" alt="" class="absolute w-full rounded-2xl object-cover h-full object-[top_0%left_70%] sm:object-[top_0%left_10%]">
        <div class="absolute inset-0 bg-black/20 rounded-2xl"></div>
        <div class="absolute inset-0 bg-gradient-to-br from-white to-transparent via-transparent rounded-2xl"></div>
        <div class="relative text-primary text-center sm:text-start mx-auto sm:mx-0 max-w-md sm:max-w-sm lg:max-w-lg p-10 lg:pt-15 lg:mx-20 pb-16 flex flex-col gap-3">
            <h3 class="text-4xl lg:text-5xl leading-7.5 lg:leading-12 font-bold">Step into clarity with our  <br class="hidden">
            <span class="font_2 text-3xl lg:text-4xl font-normal lg:leading-15">Newest Frames</span></h3>
            <p class="text-sm lg:text-[18px] max-w-[240px] lg:max-w-xl mx-auto sm:mx-0">Find the perfect balance of style and comfort with our carefully crafted glasses, designed to enhance your look while providing all-day wearability.</p>
        </div>
    </div>
</section>