<section class="max-w-[2000px] mx-auto px-[1rem] lg:px-[3rem] min-h-[580px] lg:min-h-[620px] overflow-hidden flex">
    <div class="w-full min-h-full relative rounded-2xl flex flex-col lg:flex-row justify-between lg:items-center">
        <img [src]="bannerImg" alt="" class="absolute w-full lg:w-1/2 rounded-2xl object-cover h-full object-[center_30%]">
        <div class="absolute inset-0 bg-black/50 lg:w-1/2 rounded-2xl"></div>
        <div class="absolute inset-0 bg-gradient-to-t from-primary/50 to-transparent via-transparent lg:w-1/2 rounded-2xl"></div>
        <div class="relative lg:w-1/2 text-white text-center p-10 lg:p-20 flex lg:justify-between lg:h-full flex-col gap-5">
            <h1 class="font-bold text-4xl lg:text-5xl font_2">Elevate Your Look</h1>
            <p class="text-sm mx-auto lg:text-[18px] max-w-sm">Designed for bold personalities and everyday elegance, these shades are more than just eyewear — they’re a statement.</p>
        </div>
        <div class="text-white relative lg:w-1/2 lg:mt-auto px-10 lg:pr-0 lg:text-primary">
            <div class="flex gap-5 flex-col text-center lg:text-start">
                <h3 class="text-3xl lg:text-5xl font-semibold mx-auto lg:ml-0 lg:mr-auto font_2">Special</h3>
                <p class="text-sm lg:text-[18px] mx-auto lg:ml-0 lg:mr-auto max-w-xl hidden md:block">Discover our best-selling frames, combining style and comfort for a perfect fit in every pair. Each design is thoughtfully crafted to enhance your look while ensuring all-day wearability. From timeless classics to modern silhouettes, our collection offers </p>
            </div>
            <div class="flex pb-10 pt-5 overflow-x-auto justify-start">
                <div class="flex gap-5 mx-auto lg:mx-0">
                    <div class="relative">
                        <img src="images/home/glass-3.jpg" alt="" class="min-w-[16.5rem] max-w-[20rem] w-full h-full object-cover rounded-2xl aspect-6/4">
                        <button class="absolute bottom-[7%] right-[6%] w-max pl-5 py-2 pr-2.5 rounded-full ml-auto bg-white text-primary font-semibold flex gap-10 items-center button">View More <img src="images/contact/Bag-Icon.svg" alt="" class="w-8"></button>
                    </div>
                    <div class="relative">
                        <img src="images/home/glass-3.jpg" alt="" class="min-w-[16.5rem] max-w-[20rem] w-full h-full object-cover rounded-2xl aspect-6/4">
                        <button class="absolute bottom-[7%] right-[6%] w-max pl-5 py-2 pr-2.5 rounded-full ml-auto bg-white text-primary font-semibold flex gap-10 items-center button">View More <img src="images/contact/Bag-Icon.svg" alt="" class="w-8"></button>
                    </div>
                    <div class="relative">
                        <img src="images/home/glass-3.jpg" alt="" class="min-w-[16.5rem] max-w-[20rem] w-full h-full object-cover rounded-2xl aspect-6/4">
                        <button class="absolute bottom-[7%] right-[6%] w-max pl-5 py-2 pr-2.5 rounded-full ml-auto bg-white text-primary font-semibold flex gap-10 items-center button">View More <img src="images/contact/Bag-Icon.svg" alt="" class="w-8"></button>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>
