<section class="max-w-[2000px] mx-auto px-[1rem] lg:px-[3rem] min-h-[580px] lg:min-h-[620px] overflow-hidden flex mb-20">
    <div class="w-full min-h-full relative rounded-2xl flex flex-col lg:flex-row justify-between lg:items-center">
        <img [src]="bannerImg" alt="" class="absolute w-full lg:w-1/2 rounded-2xl object-cover h-full object-[center_30%]">
        <div class="absolute inset-0 bg-black/50 lg:w-1/2 rounded-2xl"></div>
        <div class="absolute inset-0 bg-gradient-to-t from-primary/50 to-transparent via-transparent lg:w-1/2 rounded-2xl"></div>
        <div class="relative lg:w-1/2 text-white text-center p-10 lg:p-20 flex lg:justify-between lg:h-full flex-col gap-5">
            <h1 class="font-bold text-3xl lg:text-4xl heading_font_2 uppercase">Elevate Your Look</h1>
            <p class="text-sm mx-auto lg:text-[18px] max-w-sm">Designed for bold personalities and everyday elegance, these shades are more than just eyewear — they’re a statement.</p>
        </div>
        <div class="text-white relative lg:w-1/2 lg:mt-auto px-10 lg:pr-0 lg:text-primary">
            <div class="flex gap-5 flex-col text-center lg:text-start">
                <h3 class="text-2xl lg:text-4xl font-semibold mx-auto lg:ml-0 lg:mr-auto heading_font_2 uppercase">Special</h3>
                <p class="text-sm lg:text-[18px] mx-auto lg:ml-0 lg:mr-auto max-w-xl hidden md:block">Discover our best-selling frames, combining style and comfort for a perfect fit in every pair. Each design is thoughtfully crafted to enhance your look while ensuring all-day wearability. From timeless classics to modern silhouettes, our collection offers </p>
            </div>
            <div class="flex pb-10 pt-5 overflow-x-auto justify-start">
                <div class="flex gap-5 mx-auto lg:mx-0">
                    <div class="relative rounded-2xl border border-primary/20 shadow-md transition-all" *ngFor="let product of products">
                        <img [src]="product.images[0]" alt="" class="min-w-[16.5rem] max-w-[20rem] w-full h-full object-cover rounded-2xl aspect-6/4">
                        <a [routerLink]="['/product', product.slug]" class="absolute bottom-[7%] bg-bg_primary/15 border border-primary/40 hover:border-primary/60 transition-all right-[6%] w-max pl-3 py-1 pr-1 rounded-full ml-auto text-primary font-semibold flex gap-6 items-center button">Explore <img src="images/contact/Bag-Icon.svg" alt="" class="w-8"></a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>
