<section class="px-[1rem] lg:px-[3rem] text-primary mt-[2rem] max-w-[2000px] mx-auto flex gap-10 pt-5">
    <div class="w-150 flex flex-col min-h-60 sm:min-h-90 lg:min-h-130 justify-between  overflow-hidden">
        <h3 class="text-lg sm:text-3xl mx-auto lg:text-[40px] font-semibold uppercase">For Kids <br><span class="font_2 ml-3 sm:ml-5 lg:ml-12 font-normal">Collection</span></h3>
        <img src="images/services/cat-kid.png" alt="" class="object-cover">
    </div>
    <div class="flex items-center gap-3 overflow-x-scroll max-w-[50%] sm:max-w-[65%] xl:max-w-[73%]">
        <img [src]="glass" *ngFor="let glass of glasses" alt="" class="border border-bg_primary/30 object-cover h-40 w-34 sm:h-75 sm:w-70 lg:h-100 lg:w-96 rounded-md">
    </div>
</section>
<app-scroller></app-scroller>