<section class="px-[1rem] lg:px-[3rem] text-primary mt-[2rem] max-w-[2000px] mx-auto flex gap-10">
    <div class="w-150 flex flex-col max-h-120 overflow-hidden">
        <h3 class="text-3xl mx-auto lg:text-[40px] font-semibold uppercase">For Kids <br><span class="font_2 sm:ml-5 lg:ml-12 font-normal">Collection</span></h3>
        <img src="images/services/cat-kid.png" alt="" class="">
    </div>
    <div class="flex items-center gap-3 overflow-x-scroll">
        <img src="images/home/glass-1.jpg" alt="" class="object-cover sm:h-75 sm:w-60 lg:h-100 lg:w-80">
        <img src="images/home/glass-1.jpg" alt="" class="object-cover sm:h-75 sm:w-60 lg:h-100 lg:w-80">
        <img src="images/home/glass-1.jpg" alt="" class="object-cover sm:h-75 sm:w-60 lg:h-100 lg:w-80">
        <img src="images/home/glass-1.jpg" alt="" class="object-cover sm:h-75 sm:w-60 lg:h-100 lg:w-80">
        <img src="images/home/glass-1.jpg" alt="" class="object-cover sm:h-75 sm:w-60 lg:h-100 lg:w-80">
        <img src="images/home/glass-1.jpg" alt="" class="object-cover sm:h-75 sm:w-60 lg:h-100 lg:w-80">
    </div>
</section>
<app-scroller></app-scroller>