<section class="max-w-[2000px] mx-auto px-[1rem] lg:px-[3rem] min-h-[580px] lg:min-h-[620px] overflow-hidden flex">
    <div class="w-full min-h-full relative">
        <img src="images/about/about-banner-3.jpeg" alt="" class="absolute h-full object-cover lg:object-[center_45%] w-full rounded-2xl">
        <div class="absolute inset-0 bg-black/60 rounded-2xl"></div>
        <div class="text-white relative p-10 lg:px-20 flex flex-col justify-center h-full gap-5">
            <h2 class="font-bold heading_font_2 text-4xl lg:text-5xl uppercase">About Our Shop</h2>
            <!-- <h3 class="text-4xl lg:text-5xl leading-7.5 font-sans mb-4 mr-8 lg:mr-20">Meet Your Eyewear<br> -->
            <!-- <span class="font_2 text-3xl lg:text-4xl ml-42 lg:ml-62 font-normal lg:leading-15">Experts</span></h3> -->
            <p class="text-sm lg:text-[18px] max-w-4xl">
                Established in 2007, our journey began as a small optical retail store in Seeb Souq, Oman. Today, we proudly operate seven branches across the country, serving thousands of satisfied customers. Specializing in vision testing, prescription eyewear, and contact lenses, we are committed to delivering expert care through our experienced optometrists and well-trained technicians.
                We offer a wide selection of fashionable, innovative, and high-quality eyewear — all at affordable prices and with fast delivery. While we continue to evolve with the latest in eye care technology, our mission remains the same: See Better. Live Better
            </p>
        </div>
    </div>
</section>