<section class="px-[1rem] lg:px-[3rem] text-primary mt-[2rem] max-w-[2000px] mx-auto">
    <div class="flex flex-col gap-5 bg-bg_primary/30 rounded-2xl p-10 lg:px-20">
        <h3 class="text-4xl lg:text-[40px] font-semibold">{{shopTitle}}</h3>
        <div class="flex flex-col gap-5 md:flex-row">
            <img src="images/about/shop-image-1.jpg" alt="" class="rounded-2xl aspect-7/5 object-cover md:max-w-[50%]">
            <div class="flex flex-col gap-5 md:justify-center w-full">
                <p class="text-sm lg:text-[16px] max-w-2xl pr-3">{{shopDescription}}</p>
                <iframe [src]="shopMap" class="rounded-2xl aspect-video md:max-w-[80%]" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>