@import "tailwindcss";
@theme{
    --color-primary: var(--primary);
    --color-bg_primary: var(--bg_primary);
    --color-bg_secondary: var(--bg_secondary);
}
@layer base { 
  :root {
    --primary: #855231;
    --bg_primary: #A5967B;
    --bg_secondary: #E2DED7;
  }

  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Archivo", serif;
  background-color: var(--bg_secondary);
}

::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.button {
  transition: all 0.3s ease-in-out;
}
.button:hover {
  cursor: pointer;
}
.button:active {
  transform: scale(0.9);
}

.font_2 {
  font-family: "Kaushan Script";
}